.font-title {
  font-family: $ff-title;
  font-weight: bold;
  color: $c-primary;
}

.font-primary {
  font-family: $ff-primary;
}

.color-grey {
  color: #5d5d5d;
}

.title {
  font: normal normal 700 1.5em/1.25em "Nunito", sans-serif;
}
