.btn-primary {
  border-color: $c-primary !important;
  background-color: $c-primary !important;

  &:hover {
    border-color: $c-primary-dark !important;
    background-color: $c-primary-dark !important;
  }
}

.btn-outline-primary {
  border-color: $c-primary !important;
  color: $c-primary !important;

  &:hover {
    color: white !important;
    border-color: $c-primary !important;
    background-color: $c-primary !important;
  }
}
