// Body
$body-bg: #f8fafc;

// Typography
$ff-primary: "Nunito", sans-serif;
$ff-title: "Merriweather", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$c-primary: #68a7ad;
$c-primary-dark: #5a8e8e;
$c-primary-light: #99c4c8;
$c-secondary: #e5cb9f;
$c-secondary-light: #eee4ab;
$c-black: #1f1f1f;
